
@media all and (max-width: 599px) and (min-width: 100px) {
/* Meidum sized phones and other devices (phones, 600px and down) */


.HomeSlider{
	height:60vw;
	width:100vw;
	margin-top: 10vh
}

.thing{
	height: 72vw;
	width: 100vw;
}

.AngzDiv1{
	height:70vw;
	width:100vw;
}

.thing .slick-dots {
	position:absolute;
	width: 100vw;
	bottom: 0;
	top: 100;
	left: 0;
	z-index: 10;
}

.thing .slick-dots li{
	list-style: none;
	background: #bbb;
	width:1.5vw;
	height:1.5vw;
	border-radius: 50%;
	display: inline-block;
	font-size: 1vw;

}

.thing .slick-dots li.slick-active{
	background: white;
}

.thing .slick-dots li button{
	display: none;
}

}
