
@media all and (max-width: 599px) and (min-width: 100px) {
/* Meidum sized phones and other devices (phones, 600px and down) */


.HomeSlider{
	height:60vw;
	margin-top: 15vw;
	padding-left: 2vw;	
	padding-right: 2vw;
	margin-left: 0vw;
	width:100vw;

}

.thing{
	height: 72vw;
	margin-top: 10vw;
}

#AngzDiv1{
	height:80vw;
	width:100vw;
	background: white;
	overflow: hidden;
	margin-top: 5vw;
}

.thing .slick-dots {
	position:absolute;
	width: 100vw;
	bottom: 0;
	top: 100;
	left: 0;
	z-index: 10;
}

.thing .slick-dots li{
	list-style: none;
	background: #bbb;
	width:1.5vw;
	height:1.5vw;
	border-radius: 50%;
	display: inline-block;
	font-size: 1vw;

}

.thing .slick-dots li.slick-active{
	background: white;
}

.thing .slick-dots li button{
	display: none;
}

#AngzDiv2{
	height: 210vw;
	width: 100vw;
	overflow: hidden;
	background: white;
}

#aboutMeHeading{
	font-family: 'Quicksand';
	font-size: 6.75vw;
	text-align: center;
	color:black;
	font-weight: 900;
}

#AngzLiBadge{
	margin-left: 18vw;
	margin-top: 3vh;
}

.aboutMeTxt{
	font-family: 'Source Serif Pro';
	font-size: 4.5vw;
	width: 90vw;
	max-width:90vw;
	margin-left: 7.5vw;
	margin-right: 7.5vw; 
	margin-top: 5vh;
}

#ReadAboutMeBtn{
	font-family: 'Source Serif Pro';
	font-size: 4.5vw;
	text-align: center;
	margin-top: 3vh;
	margin-left: 35vw;
}

#QuakrXIntro{
	font-family: 'Quicksand';
	font-size: 6.75vw;
	text-align: center;
	color:black;
	font-weight: 900;
}

}
