@media all and (max-width: 599px) and (min-width: 100px){
/* Meidum sized phones and other devices (phones, 600px and down) */

    .btn-link:before{
        content: none;
    }


#particles-js{
	height: 90vw;
	overflow: hidden;
}

#canva1 {
	position: absolute;
	margin-left: 40vw;
	margin-top: 15vw;
	height: 45vw;
	width: 60vw;
}

#classesDiv2 {
	overflow: hidden;
	height: 100vw;
	margin-top: 0vw;
}

#classesPostersDiv{
  margin-top: 0vw;
  height: 120vw;
  background: #090f0a;
}

#txt1, #txt2, #txt3Ph {
	font-style: italic;
	color: white;
	font-family: 'Quicksand';
	font-size: 3.25vw;
	margin-left: 8vw;
	position: absolute;
	font-weight: 1000;

}

#tags 
{
    color: yellow;
}

#txt1 {
	margin-top: 32vw;
}

#txt2 {
	margin-top: 37vw;
}

#txt3Ph {
	margin-top: 45vw;
	font-size: 2vw;
	font-style: normal;
	border: 1px solid #bbb;
}

#subjectsHeader {
	margin-left: 30vw;
	margin-top: 10vw;
	color: white;
	font-family: 'Quicksand';
	font-size: 5vw;
}

#subjectsBanner {
	margin-top: 0vw;
}

#postersCarousel{
  margin-top: 0vw;
  background: #090f0a;
}

/*
Dheeraj Css*/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#divFormClasses {
	height: 230vw;
  width: 100vw;
  margin-top: 10vw;
	background: white;
  position: absolute
}

#registerNow {
	position: absolute;
	font-family: 'Quicksand';
	font-size: 5vw;
	margin-left: 35vw;
	margin-top: 5vw;
}

#clsForm { 
  position: absolute;
  margin-top: 15vw;
  width: 90vw;
  margin-left: 5vw;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#faqSection {
  position: absolute;
  height: 150vw;
  width: 100vw;
  margin-top: 250vw;
  background: black
}

#faqHeading{
  margin-left: 40vw;

}

.questions-padding{
    padding: 4% 2%;
    align-items: center;
}

.textDecoration{
    text-decoration: none;
}

.onhover{
    transition: 0.4s all ease;
}

.onhover:hover{
    background-color: rgb(192, 192, 192);
}

.size{
    font-size: 3rem;
}

.card-body{
    text-align: justify;
}

i{
    font-size: 1.5rem;
}

i:hover{
    color: blue;
}

.card, .card-header{
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin-bottom: 20px;
}

.card{
    box-shadow: 0 2px 20px 0 rgba(110, 130, 208, .18);
}

.card-body{
    background: #e8eeff;
}

.btn-link{
    width: 100%;
    height: 50px;
    color: #000 !important;
    font-weight: bold !important;
    text-align: left !important;
    text-decoration: none !important;
    font-family: 'Quicksand' !important;
}

.btn-link::after{
    content: '\2212';
    width: 35px;
    font-size: 20px;
    text-align: center;
    right: 15px;
    top: 11px;
    position: absolute;
    background: #e8eeff;
}

.btn-link.collapsed:after{
    content: '\002B';
}

.btn-link:before{
    content: '';
    height: 25px;
    width: 25px;
    position: absolute;
    background: #fff;
    z-index: 1;
    transform: rotate(45deg);
    left: 30px;
    top: 36px;
}

}
