
@media all and (min-width: 600px) {

#THuntDiv1{
	height: 120vw;
	width:100vw;
	overflow:hidden;
	background: white;
	margin-top:10vw;
}

#THuntRavan{
	height: 48vw;
	width:100vw;
	overflow:hidden;
	background:white;
	margin-top:3vw;
	
}

#WelcomeMsg{
	font-family: 'Quicksand';
	font-size:2.5vw;
	text-align: center;
	margin-top: 2vw
}

#QuestionRavan{
	margin-left:5vw;
	margin-top: 2vw;
	width: 90vw;
	font-family: 'Quicksand';
	font-size:1.5vw;
	color:white;
	background: black;
	padding: 5vw;
}

#QuestionRavanContd{
	margin-left:5vw;
	width: 90vw;
	font-family: 'Quicksand';
	font-size:1.5vw;
	color:white;
	background: black;
	padding: 5vw;
}

#QuestionRavan2{
	margin-left:5vw;
	width: 90vw;
	font-family: 'Quicksand';
	font-size:1.5vw;
	margin-top: 5vw;
	color:white;
	background: black;
	padding: 5vw;
}

#Question3{
	margin-left:5vw;
	width: 90vw;
	font-family: 'Quicksand';
	font-size:1.5vw;
	margin-top: 5vw;
	color:white;
	background: black;
	padding: 5vw;
}

#arrowPic{
	position:absolute;
	height:5.75vw;
	width: 6.5vw;
	transform: rotate(48deg);
	margin-top: 30.75vw;
	margin-left: 47.25vw;
}

#BowPic{
	position:absolute;
	height:30vw;
	width: 14vw;
	transform: rotate(90deg);
	margin-top: 20vw;
	margin-left: 43vw;
}

#shootBtn{
    position:absolute;
	margin-top: 39vw;
	margin-left: 43.5vw;
	font-size: 2vw;
	font-family: 'Quicksand'
}

#ravanPos0{
	position:absolute;
	height: 12vw;
	width: 8vw;
	margin-left: 35.75vw
}

#ravanPos1{
	position:absolute;
	height: 12vw;
	width: 8vw;
	margin-left: 41vw
}

#ravanPos2{
	position:absolute;
	height: 12vw;
	width: 8vw;
	margin-left: 46.25vw
}

#ravanPos3{
	position:absolute;
	height: 12vw;
	width: 8vw;
	margin-left: 51.5vw
}

#ravanPos4{
	position:absolute;
	height: 12vw;
	width: 8vw;
	margin-left: 56.75vw
}


#whiteStrip1{
	height:6vw;
	width:15vw;
	position: absolute;
	background: white;
	margin-top:8.5vw;
	margin-left: 32.75vw;
}

#whiteStrip2{
	height:6vw;
	width:15vw;
	position: absolute;
	background: white;
	margin-top:8.5vw;
	margin-left: 52.75vw;
}

.RavanHead2, .RavanHead3, .RavanHead4, .RavanHead5{
	display: none;
}

#THuntDiv2{
	height: 100vw;
	width:100vw;
	overflow:hidden;
	background:white;
}

#BlockPos0Green{
	position:absolute;
	height: 2vw;
	width: 10vw;
	margin-left: 5vw;
	margin-top: 26vw;
}

#BlockPos1{
	position:absolute;
	height: 10vw;
	width: 10vw;
	margin-left: 16vw;
	margin-top: 25vw
}

#BlockPos2{
	position:absolute;
	height: 10vw;
	width: 10vw;
	margin-left: 27vw;
	margin-top: 25vw
}

#BlockPos3{
	position:absolute;
	height: 10vw;
	width: 10vw;
	margin-left: 38vw;
	margin-top: 25vw
}

#BlockPos4{
	position:absolute;
	height: 10vw;
	width: 10vw;
	margin-left: 49vw;
	margin-top: 25vw
}

#BlockPos5{
	position:absolute;
	height: 10vw;
	width: 10vw;
	margin-left: 60vw;
	margin-top: 25vw
}

#BlockPos6{
	position:absolute;
	height: 10vw;
	width: 10vw;
	margin-left: 71vw;
	margin-top: 25vw
}

#house{
	position:absolute;
	height: 25vw;
	width: 15vw;
	margin-left: 80vw;
	margin-top: 2vw
}

#fire{
	position:absolute;
	height: 25vw;
	width: 15vw;
	margin-left: 80vw;
	margin-top: 2vw
}

#lilGirl{
	position:absolute;
	height: 12vw;
	width: 8vw;
	margin-left: 6vw;
	margin-top: 15vw
}

#walkLeft{
	position:absolute;
	margin-left: 35vw;
	margin-top: 39vw;
	font-size: 2vw;
	font-family: 'Quicksand'
}

#walkRight{
	position:absolute;
	margin-left: 55vw;
	margin-top: 39vw;
	font-size: 2vw;
	font-family: 'Quicksand'
}

}
