
@media all and (max-width: 599px) and (min-width: 100px) {

#THuntDiv1{
	height: 230vw;
	width:100vw;
	overflow:hidden;
	background:white;
	margin-top: 40vw;
}

#THuntRavan{
	height: 100vw;
	width:100vw;
	overflow:hidden;
	background:white;
	margin-top:3vw;
}

#WelcomeMsg{
	position:absolute;
	font-family: 'Quicksand';
	font-size:5vw;
	text-align: center;
	margin-top: 2vw;
	margin-top: -13vw;
	padding-left: 5vw;
	padding-right: 5vw
}

#QuestionRavan{
	margin-left:3.5vw;
	margin-top: 5vw;
	width: 90vw;
	font-family: 'Quicksand';
	font-size:4.5vw;
	color:white;
	background: black;
	padding: 5vw;
}

#QuestionRavanContd{
	margin-left:3.5vw;
	width: 90vw;
	font-family: 'Quicksand';
	font-size:4.5vw;
	color:white;
	background: black;
	padding: 5vw;
	margin-top: 5vw;
}

#QuestionRavan2{
	margin-left:3.5vw;
	width: 90vw;
	font-family: 'Quicksand';
	font-size:4.5vw;
	margin-top: 5vw;
	color:white;
	background: black;
	padding: 5vw;
}

#Question1{
	margin-left:3.5vw;
	width: 90vw;
	font-family: 'Quicksand';
	font-size:4.5vw;
	margin-top: 5vw;
	color:white;
	background: black;
	padding: 5vw;
	margin-bottom: 1vw;	
}

#Question1Cont{
	margin-left:3.5vw;
	width: 90vw;
	font-family: 'Quicksand';
	font-size:4.5vw;
	margin-top: 53vw;
	color:white;
	background: black;
	padding: 5vw;	
}

#arrowPicPh{
	position:absolute;
	height:16vw;
	width: 18vw;
	transform: rotate(48deg);
	margin-top: 66vw;
	margin-left: 40vw;
}

#BowPic{
	position:absolute;
	height:50vw;
	width: 25vw;
	transform: rotate(90deg);
	margin-top: 55vw;
	margin-left: 35vw;
}

#shootBtn{
    position:absolute;
	margin-top: 90vw;
	margin-left: 35vw;
	font-size: 3.5vw;
	font-family: 'Quicksand'
}

#ravanPos0{
	position:absolute;
	height: 24vw;
	width: 16vw;
	margin-left: 21vw
}

#ravanPos1{
	position:absolute;
	height: 24vw;
	width: 16vw;
	margin-left: 31vw
}

#ravanPos2{
	position:absolute;
	height: 24vw;
	width: 16vw;
	margin-left: 41vw
}

#ravanPos3{
	position:absolute;
	height: 24vw;
	width: 16vw;
	margin-left: 51vw
}

#ravanPos4{
	position:absolute;
	height: 24vw;
	width: 16vw;
	margin-left: 61vw
}


#whiteStrip1{
	height:8vw;
	width:27vw;
	position: absolute;
	background: white;
	margin-top:16.5vw;
	margin-left: 17vw;
}

#whiteStrip2{
	height:8vw;
	width:27vw;
	position: absolute;
	background: white;
	margin-top:16.5vw;
	margin-left: 53.5vw;
}

.RavanHead2, .RavanHead3, .RavanHead4, .RavanHead5{
	display: none;
}

#THuntDiv2{
	height: 390vw;
	width:100vw;
	overflow:hidden;
	background: white;
}

#BlockPos0Green{
	position:absolute;
	height: 2vw;
	width: 10vw;
	margin-left: 5vw;
	margin-top: 26vw;
}

#BlockPos1{
	position:absolute;
	height: 10vw;
	width: 10vw;
	margin-left: 16vw;
	margin-top: 25vw
}

#BlockPos2{
	position:absolute;
	height: 10vw;
	width: 10vw;
	margin-left: 27vw;
	margin-top: 25vw
}

#BlockPos3{
	position:absolute;
	height: 10vw;
	width: 10vw;
	margin-left: 38vw;
	margin-top: 25vw
}

#BlockPos4{
	position:absolute;
	height: 10vw;
	width: 10vw;
	margin-left: 49vw;
	margin-top: 25vw
}

#BlockPos5{
	position:absolute;
	height: 10vw;
	width: 10vw;
	margin-left: 60vw;
	margin-top: 25vw
}

#BlockPos6{
	position:absolute;
	height: 10vw;
	width: 10vw;
	margin-left: 71vw;
	margin-top: 25vw
}

#house{
	position:absolute;
	height: 25vw;
	width: 15vw;
	margin-left: 80vw;
	margin-top: 2vw
}

#fire{
	position:absolute;
	height: 25vw;
	width: 15vw;
	margin-left: 80vw;
	margin-top: 2vw
}

#lilGirl{
	position:absolute;
	height: 15vw;
	width: 10vw;
	margin-left: 5vw;
	margin-top: 12vw
}

#walkLeft{
	position:absolute;
	margin-left: 25vw;
	margin-top: 39vw;
	font-size: 3.5vw;
	font-family: 'Quicksand'
}

#walkRight{
	position:absolute;
	margin-left: 52vw;
	margin-top: 39vw;
	font-size: 3.5vw;
	font-family: 'Quicksand'
}


}
